body {
  min-height:100vh;
  background: linear-gradient(white 2%, black 98%);
}
.youtubebutton {
  border-radius:8px;
  width:150px;
  background: linear-gradient(red 10%, maroon 90%);
}
.youtubetext {
  color:white;
  text-shadow: 2px 2px black;
  margin-right:5px;
}
.SM {
  border-radius:8px;
  background: linear-gradient(red 10%, maroon 90%);
}
.socials {
  color:white;
  text-shadow: 2px 2px black;
  margin-top:5px;
  margin-bottom:2px;
}
.twitchbutton {
  border-radius:8px;
  background: linear-gradient(violet 10%, purple 90%);
  width:150px;
}
.twitchtext {
  color:white;
  text-shadow: 2px 2px black;
}
.spotifybutton {
  border-radius:8px;
  background: linear-gradient(limegreen 15%, green 85%);
  width:150px;
}
.spotifytext {
  color:white;
  text-shadow: 2px 2px black;
}
.discordbutton {
  border-radius: 8px;
  background: linear-gradient(#7289DA 10%, #5865F2 90%);
  width:150px;
}
.discordtext {
  color:white;
  text-shadow: 2px 2px black;
}
.contactbutton {
  border-radius:8px;
  background: linear-gradient(white 1%, black 99%);
}
.contacttext {
  margin-top:3px;
  margin-bottom:4px;
  color:white;
  text-shadow: 2px 2px black;
}
.Updatebutton {
  border-radius:8px;
  background: linear-gradient(white 1%, black 99%);
}
.Updatetext {
  margin-top:3px;
  margin-bottom:4px;
  color:white;
  text-shadow: 2px 2px black;
}
.robloxbutton {
  border-radius: 8px;
  background: linear-gradient(
    black 5%, white 95%);
  width:150px;
}
.robloxtext {
  color:white;
  text-shadow: 2px 2px black;
}
.clipchampbutton {
  border-radius: 8px;
  background: linear-gradient(
    #984afd 5%, #bc80ff 95%);
  width:150px;
}
.clipchamptext {
  color:white;
  text-shadow: 2px 2px black;
}
.YC {
  display:flex;
  gap:5px;
}
.bar {
  display:flex;
  gap:5px;
  margin-left:735px;
}
.toptext {
  margin-left:750px;
}
.guide {
  margin-left:650px;
}